.table_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin: 2rem 0;
}

.cell-with-modal {
    transition: background-color 0.3s ease;
}

.cell-with-modal:hover {
    background-color: #303D50 !important;
    color: white;
    font-weight: 600;
}

thead tr th {
    background-color: #FFF !important;
    border-bottom: 1px solid #DEE2E6 !important;
    position: sticky;
    top: 0;
    z-index: 2;

}

.table-scroll th, .table-scroll td {
    white-space: nowrap;
    word-wrap: normal;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.table-scroll {
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: auto;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}


.table-scroll::-webkit-scrollbar {
    width: 15px;
}

.table-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
    background-color: #303D50;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.table td, .table th {
    text-align: center; /* Centrado horizontal */
    vertical-align: middle; /* Centrado vertical */
}

.title-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.imgLogo {
    height: 60px;
    object-fit: cover;
}

.subtitle-logo {
    font-size: 24px;
    font-weight: 500;
}

.subtitle-container{
    display: flex;
    flex-direction: column;
}

.unp-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 3rem;
}

.inputs-container {
    display: flex;
    width: 40%;
}

.red-section{
    width: 10px;
    background-color: #D13C47;
    color: transparent;
}

.logo-subtitle-container{
    display: flex;
    gap: 3px;
}

.custom-button {
    background-color: #303D50;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
}

.data-count, .data-unp{
    font-weight: 500;
    font-size: 0.85rem;
    margin-left: 5px;
    color: darkgray;
}

.animation-container{
    gap: 2rem;
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #919191;
}

@media (min-width: 1800px) {
    .table-scroll {
        max-height: 75vh;
    }
}