.main-container {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: #f7f7f7f7;
  width: 100%;
}

.login-container {
  transform: scale(0.85);
  margin: 0 auto;
}

.politica-datos {
  margin: 0px;
  color: #365072;
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  min-width: 235px;
  max-width: 235px;
}

.politica-datos:hover {
  color: black;
}
